{
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "trailingComma": "none",
   "printWidth": 160,
   "useTabs": false,
   "bracketSpacing": true,
   "bracketSameLine": false,
   "arrowParens": "avoid"
}
