@use 'styles/master';

.select {
   position: relative;
   min-width: 180px;
   width: 100%;
   height: 43px;

   font-size: 18px;
   font-weight: 300;
   color: #{master.$accent};
}

.value {
   cursor: pointer;
   user-select: none;

   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 10px 15px;
   width: 100%;
   height: 100%;
   text-align: left;

   border-radius: 10px;
   border: 1px solid #{master.$secondary};
   background-color: #{master.$default};
   box-shadow: 4px 4px 4px 0px #{master.$shadow};

   span.placeholder {
      color: #{master.$secondary};
   }

   img {
      width: 13px;
      height: auto;
      transition: transform 0.2s;
   }
}

.options {
   position: absolute;
   top: 43px + 6px;
   left: 0;

   width: 100%;
   max-height: 172px;

   border: 1px solid #{master.$secondary};
   background-color: #{master.$default};

   li {
      user-select: none;
      list-style: none;
   }
}

.option {
   button {
      display: flex;
      align-items: center;
      justify-self: flex-start;

      padding: 10px 15px;
      width: 100%;
      height: 43px;

      background-color: #{master.$default};
      transition: background-color 0.2s;

      span {
         padding: 0 5px;
         border-radius: 6px;
         transition: box-shadow 0.2s;
      }

      &:focus-visible span {
         position: relative;
         z-index: 1;
         box-shadow: 0px 0px 0px 2px #{master.$accent};
      }
   }

   &:not(:last-child) button {
      border-bottom: 1px solid #{master.$secondary};
   }

   &.choosed button {
      background-color: #{master.$default-highlight};
   }
}

.empty {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   color: #{master.$secondary};
}

.focus {
   .value img {
      transform: rotate(180deg);
   }
}
