@use 'styles/master';

.home {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.content {
   margin: 0 auto;
   max-width: 750px;
   max-height: 100%;
   height: 100%;
}

.header {
   min-height: 230px;
   max-height: 300px;
   height: 300px;
   color: #{master.$accent};
   text-shadow: 1px 1px 0px #{master.$default}, 4px 4px 0px #{master.$shadow};
   background-color: #{master.$default};
   transition: height 0.4s;

   .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }
}

.container {
   margin: 22px 0 0 35px;
}

.select {
   position: relative;
   z-index: 2;
   width: min-content;
}

.title {
   display: flex;
   align-items: center;
   gap: 10px;

   h1 {
      font-size: 96px;
      font-weight: 400;
   }

   p {
      display: block;
      width: min-content;
      font-size: 20px;
      font-weight: 300;
   }
}

.image {
   overflow: hidden;
   transition: transform 0.4s;

   img {
      width: 225px;
      height: auto;
   }
}

.footer {
   position: relative;
   z-index: 1;

   font-size: clamp(64px, 7.5vw, 96px);
   font-weight: 400;
   color: #{master.$default};

   flex-grow: 1;
   background-color: #{master.$accent};

   .content {
      padding: 42px 20px 20px 20px;

      h2 {
         text-align: center;
      }
   }
}

@media (max-width: 450px) {
   .image {
      transform: translateY(-100%);
   }

   .header {
      height: 230px;
   }
}
